.drawer {
    display: flex;
    width: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    right:0;
    min-height: 100%;
}

.drawer__toggle {
    align-self: center;
    padding: 1rem .5rem;
    font-size: 1em;
    font-weight: bold;
    color: $grey-primary;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border-top: 1px solid $grey-primary;
    border-left: 1px solid $grey-primary;
    border-bottom: 1px solid $grey-primary;
    background-color: $grey-secondary;
    z-index: 999;
}
.drawer__panel {
    width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $grey-secondary;
    border-left: 1px solid $grey-primary;
    padding: .5rem;
    margin-left: -1px;
    &.closed {
        display: none;
    }
    & hr {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
}